<% images = [ "banner1.jpg","banner5.jpg","banner6.jpg","banner7.jpg" ]%>
<%= render 'shared/banner', images: images %>


<div class="container form-sign-up border border-dark p-3 mb-4">

  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { placeholder: "e.g: John" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { placeholder: "e.g: Doe" }%>
      <%= f.input :phone_number,
                  required: true,
                  autofocus: true,
                  input_html: { placeholder: '0172 3800916' } %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Email", placeholder: 'john.doe@gmail.com' }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "New-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "New-password" } %>
    </div>

    <div class="form-actions mb-3 d-flex justify-content-between">
      <div class="d-flex">
        <p class="mb-0 me-2">Already have an account?</p>
        <%= render "devise/shared/links" %>
      </div>

      <%= f.button :submit, "Sign up", class:"btn btn-success text-light rounded-4 px-3 fs-5" %>
    </div>
  <% end %>


</div>
