<div class="container my-4 rounded">
  <div class="d-flex flex-row">
    <!--Ratings card-->
    <div class="col col-3 bg-white rounded-start-4">
      <%= render partial: 'users/show_profile_partial' %>
    </div>
    <!--Profile card-->
    <div class="col col-9 bg-white rounded-end-4">
      <div class="d-flex justify-content-end mt-4 me-4 text-secondary">
        <h3>on Grab'a'Bite since <%= @user.created_at.strftime("%b' %y") %>! <i class="fa-solid fa-utensils" style="color: #6a6b6c;"></i></h3>
      </div>
      <div class="d-flex flex-column justify-content-center m-5">
        <div class="mb-2 align-items-start">
          <h5><i class="fa-solid fa-shield-heart" style="color: #3c3d3e;"></i>  Why I joined Grab'a'Bite</h5>
          <div class="text-secondary">

            <% if @user.description.present? && !@user.description.empty?%>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.description %></p>
            <% else %>
              <% if current_user == @user %>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You haven't told us about themselves yet 😥</p>
              <% else %>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User hasn't told us about themselves yet 😥</p>
              <% end %>

            <% end %>
          </div>
        </div>
        <div class="mb-2 align-items-start">
          <h5><i class="fa-solid fa-earth-americas" style="color: #484747;"></i>  I speak</h5>
          <div class="text-secondary">

            <% if @languages %>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @languages %></p>
            <% else %>
              <% if current_user == @user %>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You haven't told us what languages you speak yet 😥</p>
              <% else %>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; User hasn't told us what languages they speak yet 😥</p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="mb-4 align-items-start">
          <h5><i class="fa-solid fa-people-arrows" style="color: #484747;"></i>  Interests</h5>
          <div class="text-secondary">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hey, I'm <%= @user.first_name %>, and I'm all about food, travel, and connecting with people. Last year, in Italy, I stumbled into a trattoria, where I attempted to speak Italian with the chef, only to accidentally order dessert for breakfast. Whether bonding on European trains or joining cooking classes in Vietnam, these experiences fuel my passion for exploration. And when I'm not on the road, my camera preserves these moments. So, that's me – a culinary adventurer, globe-trotting enthusiast, and eternal optimist, hungry for unforgettable experiences and meaningful connections.</p>
          </div>
        </div>

        <div class="d-flex">
          <div class="d-flex flex-column justify-content-center align-items-center me-5">
            <p class="mb-1"><i class="fa-solid fa-house fa-xl" style="color: #484747;"></i></p>
            <p class="mb-2">Hosted</p>
            <h5 class="text-secondary fw-bold fs-3"><%= @hosted %></h5>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center me-5">
            <p class="mb-1"><i class="fa-solid fa-person-hiking fa-xl" style="color: #484747;"></i></p>
            <p class="mb-2">Guested</p>
            <h5 class="text-secondary fw-bold fs-3"><%= @guested %></h5>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center me-5">
            <p class="mb-1"><i class="fa-solid fa-feather fa-xl" style="color: #484747;"></i></p>
            <p class="mb-2">Reviews</p>
            <h5 class="text-secondary fw-bold fs-3"><%= @reviewed %></h5>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Reviews -->
  <div class="row">
    <div class="col col-12 pt-2 mt-2" style="background-color: transparent !important;">
      <div class="d-flex justify-content-start align-items-center fw-bolder bg-white px-4 pt-3 pb-2" style="border-radius: 2rem 2rem 0 0;">
        <h4 class="m-0"><i class="fa-solid fa-feather" style="color: #484747;"></i>  Reviews</h4>
      </div>
      <div class="p-3 bg-white rounded-bottom-5">
        <%= render partial: 'users/reviews'%>
      </div>
    </div>
  </div>
</div>

<% interests = []  %>
