<div class="col">
  <div class="card-card-bite w-100 card-hover-shadow rounded-5">

    <!-- Carousel -->
    <div id="biteCardIndex<%= bite.id%>" class="carousel slide">
      <div class="carousel-inner position-relative">
        <!-- if photos uploaded -->
        <% if bite.photos.attached? %>
          <% bite.photos.each_with_index do |photo, index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
              <%= cl_image_tag photo.key, class:"d-block w-100",width: 348, height:230, crop: :fill %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, class:"d-block w-100",width: 348, height:230, crop: :fill %>
              </div>
            <% end %>
          <% end %>

        <!-- if No photos uploaded -->
        <% else %>
          <div class="carousel-item active">
            <%= image_tag 'dish_placeholder', class: 'd-block w-100', alt: bite.name, style: 'height: 230px;' %>
          </div>
        <% end %>

        <!-- Ad to favourites button -->
        <div class="button-fave" type="button" data-controller="toggle" data-action="click->toggle#toggleFave">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>

      <button class="button-prev" type="button"
        data-bs-target="#biteCardIndex<%= bite.id%>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="button-next" type="button"
        data-bs-target="#biteCardIndex<%= bite.id%>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Card body -->
    <div class="details-card-bite"  role="button" data-bs-toggle="modal" data-bs-target="#biteModal<%= bite.id %>">
      <h5 class="mb-0 fw-semibold"><%= bite.name.capitalize %></h5>
      <div class="fixed-name-city-height d-flex justify-content-between align-items-end" style="position: relative;">
        <div class="text-body-tertiary">
          <p class="my-0 fs-5"><small><%= bite.city.capitalize %></small></p>
          <p class="fs-5"> <%= bite.date.strftime("%d %b %Y") %>
        </div>
        <div>
          <p class="mb-0 fs-3"><span class="fw-medium"><%= bite.price %>€</p>
        </div>
      </div>
    </div>
  </div>
</div>
