<div class="footer-bottom navbar-light navbar-lewagon" style="background-color: rgba(167, 93, 93, 0.8);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6">
        <%= link_to "#", class: "navbar-brand" do %>
          <%= image_tag "logo2.png" %>
        <% end %>
      </div>
      <div class="col-12 col-sm-6">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About Us", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <p class="text-white">© 2024 Your Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
