<div class="container">
  <!-- Title div -->
  <div class="title bg-light mb-2 d-flex justify-content-between align-items-center rounded-5">
    <div class="d-flex flex-column ps-3 pt-2 mb-1 mx-2">
      <div>
        <h2 class="modal-title fw-bold" id="biteModalLabel"><%= bite.name.capitalize %></h2>
        <h-4><%= bite.city.capitalize %> | <%= bite.meal_type %></h-4>
      </div>
      <div class="mt-2 mb-2">
        <h5 class="mb-0"><i class="fa-solid fa-location-dot fa-sm" style="color: #414244;"></i> <%= bite.address %></h6>
      </div>
    </div>
    <div class="fs-4 px-4">
      <%= bite.date.strftime("%d %b %y") %>
    </div>
  </div>

  <!-- IMAGES line -->
  <div class="row mb-4 p-0">
    <div class="col-lg-4 col-md-6">
      <div class="flex-column gap-3">
        <div class="card rounded-5 mb-3">
          <% if bite.photos.attached? %>
            <%= cl_image_tag bite.photos.first.key, class:"d-block w-100", width: 402, height: 268, crop: :fill, style: 'border-radius: 20px;' %>
          <% else %>
            <%= image_tag 'dish_placeholder', class:"d-block w-100", width: 402, height: 268, crop: :fill, style: 'border-radius: 20px;' %>
          <% end %>
        </div>
        <div class="card w-100" id="map-small" style="height: 190px; border-radius: 20px;" data-controller='geocoder' data-geocoder-city-value='<%= bite.city %>'>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card rounded-5 h-100">
        <% if bite.photos.attached? %>
          <div class="card rounded-5" style="background-image: url('<%= cl_image_path bite.photos.second.key, width:400, height: 474, crop: :fill %>'); background-size: cover; background-position: center; border-radius: 20px; width: 100%; height: 100%;"></div>
        <% else %>
          <div class="card rounded-5" style="background-image: url('<%= image_path 'dish_placeholder', width:400, height: 474, crop: :fill %>'); background-size: cover; background-position: center; border-radius: 20px; width: 100%; height: 100%;"></div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <% if bite.photos.attached? %>
        <div class="card rounded-5" style="background-image: url('<%= cl_image_path bite.photos.third.key, width:400, height: 474, crop: :fill %>'); background-size: cover; background-position: center; border-radius: 20px; width: 100%; height: 100%;">
      <% else %>
        <div class="card rounded-5" style="background-image: url('<%= image_path 'dish_placeholder', width:400, height: 474, crop: :fill %>'); background-size: cover; background-position: center; border-radius: 20px; width: 100%; height: 100%;">
      <% end %>
        <div class="d-flex justify-content-end align-items-center" >

          <div class="p-2 mt-1 me-1 rounded-5 bg-light bg-opacity-50 d-flex">

            <% if guest %>
              <% if bite.user.photo.attached? %>  <!-- Host photo -->
                <%= link_to '#', class: 'link-class', style: 'text-decoration: none;', title: "#{bite.user.first_name} #{bite.user.last_name}" do %>
                  <%= cl_image_tag bite.user.photo.key, class: "avatar-large",crop: :crop %>
                <% end %>
              <% else %>
                  <%= link_to '#', class: 'link-class', style: 'text-decoration: none;', title: "#{bite.user.first_name} #{bite.user.last_name}" do %>
                    <%= image_tag 'unknown',class: "avatar-large", crop: :crop %>
                  <% end %>
              <% end %>

              <p class="fs-2 text-dark" style="margin: 12px 7px 0"><i class="fa-solid fa-handshake"></i></i></p>
              <% if guest.user.photo.attached? %>  <!-- Guest photo -->
                <%= link_to '#', class: 'link-class', style: 'text-decoration: none;', title: "#{guest.user.first_name} #{guest.user.last_name}" do %>
                  <%= cl_image_tag guest.user.photo.key, class: "avatar-large",crop: :crop %>
                <% end %>
              <% else%>
                <%= link_to '#', class: 'link-class', style: 'text-decoration: none;', title: "#{guest.user.first_name} #{guest.user.last_name}" do %>
                  <%= image_tag 'unknown',class: "avatar-large", crop: :crop %>
                <% end %>
              <% end %>
            <% else %>
              <% if bite.user.photo.attached? %>  <!-- Host photo -->
                <%= link_to '#', class: 'link-class', style: 'text-decoration: none;', title: "#{bite.user.first_name} #{bite.user.last_name}" do %>
                  <%= cl_image_tag bite.user.photo.key, class: "avatar-large",crop: :crop %>
                <% end %>
              <% else %>
                  <%= link_to '#', class: 'link-class', style: 'text-decoration: none;', title: "#{bite.user.first_name} #{bite.user.last_name}" do %>
                    <%= image_tag 'unknown',class: "avatar-large", crop: :crop %>
                  <% end %>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- DESCRIPTION line -->
  <div class="row mb-4">
    <!-- Bite DESCRIPTION Card -->

    <div class="col-lg-8 col-md-12">
      <div class="card h-100 rounded-5">
        <div class="card-header bg-transparent pt-3 bg-secondary">
          <h4 class="card-title ms-2 mb-1">What's so special about this Bite:</h4>
        </div>
        <div class="card-body px-4">
          <p class="card-text mb-2">
            <span class="me-1"><i class="fa-solid fa-wheat-awn-circle-exclamation"></i></span>
              This bite is:
            <span class="fw-bolder">
                <%= bite.dietary_options if bite.dietary_options %>
              </span>
            </p>
          <p class="card-text mb-2">
            <span class="me-1"><i class="fa-solid fa-universal-access"></i></span>
            This location offers these accesibilty options:
            <span class="fw-bolder">
              <%= bite.accessibility if bite.accessibility %>
            </span></p>

          <% if bite.dessert.present? || bite.local_drinks.present? %>
            <p class="card-text mb-2">
              <span class="me-1"><i class="fa-solid fa-gem"></i></span>
              Included in this bite:
              <span class="fw-bolder">
                <%= "#Dessert" if bite.dessert %>
                <%= "#Local drinks" if bite.local_drinks %>
              </span>
            </p>
          <% end %>

        </div>
      </div>
    </div>

    <!-- DESCRIPTION Host & Guest Card-->
    <div class="col-lg-4 col-md-12">
      <div class="card rounded-5 h-100">
        <% if current_user == bite.user %> <%# Host view %>
          <div class="card-header bg-transparent pt-3">
            <h4 class="card-title ms-2 mb-1">Know more about your guest:</h4>
          </div>
          <div class="card-body ps-4 pe-2 row">
            <div class="col-12">
              <% if guest && guest.user.description.present?  %>
                <p class="card-text"><%= guest.user.description %></p>
              <% elsif guest %>
                <p class="card-text">Your guest has not provided a description yet.</p>
              <% else %>
                <p class="card-text">You have no guest yet.</p>
              <% end %>
            </div>
            <div class="col-12 d-flex justify-content-end align-items-end mt-3">
              <%= link_to 'Visit profile','#', class:"btn btn-outline-primary rounded-4 me-2 fs-5"  %>
            </div>
          </div>
        <% else %> <%# Guest view %>
          <div class="card-header bg-transparent pt-3">
            <h4 class="card-title ms-2">Know more about your host:</h4>
          </div>
          <div class="card-body ps-4 pe-2 row">
            <div class="col-12">
              <% unless bite.user.description.blank?  %>
                <p class="card-text"><%= bite.user.description %></p>
              <% else %>
                <p class="card-text">Your host has not provided a description yet.</p>
              <% end %>
            </div>
            <div class="col-12 d-flex justify-content-end align-items-end mt-3">
              <%= link_to 'Visit profile','#', class:"btn btn-outline-primary rounded-4 me-2 fs-5"  %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <!-- MAP line to be shown only if Bite booked-->
  <% map_access_granted = (guest && current_user == guest.user) || current_user == bite.user %>
  <% if map_access_granted %>
    <div class="row rounded-5">
      <div class="col-12 rounded-5">
        <div class="card rounded-5">
          <div class="card-body rounded-5" id="map-big" style="height: 400px;" data-controller='geocoder'
            data-geocoder-address-value='<%= bite.address %>' >
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Buttons -->
  <div class="row mt-4">
    <div class="col d-flex justify-content-end text-end">
      <span class="mx-2" style="margin-bottom: -8px;">Only for <span style="font-size: 40px; font-weight: bold;"><%= @bite.price %>€</span></span>


      <% if @guest && current_user == @guest.user %>  <!-- Guest View -->
        <% if @guest.confirmed == true %>  <!-- if Booking is confirmed -->
          <%= button_to 'Cancel', guest_path(@guest), method: :delete, data: {turbo_confirm: 'Are you sure?'}, class:"btn btn-danger fs-3 text-light px-4 mx-2", style:"border-radius: 8px;" %>
          <button type="button" class="btn btn-success fs-3 text-light px-4" style="border-radius: 8px;" data-bs-dismiss="modal" disabled>Booked</button>

        <% elsif @guest %> <!-- if Booking is pending -->
          <div class="d-flex">
            <%= button_to 'Cancel', guest_path(@guest), method: :delete, data: {turbo_confirm: 'Are you sure?'}, class:"btn btn-danger fs-3 text-light px-4 mx-2", style:"border-radius: 8px;" %>
            <button type="button" class="btn btn-warning fs-3 text-light px-4" style="border-radius: 8px;" disabled data-bs-dismiss="modal">Pending</button>
          </div>
        <% end %>

      <% elsif current_user == @bite.user %>  <!-- Host View -->
        <% if @guest && @guest.confirmed == true %> <!-- if Booking is confirmed -->
          <%= button_to 'Cancel', guest_path(@guest), method: :delete, data: {turbo_confirm: 'This booking has already been finalized. Are you sure you want to cancel it?'}, class:"btn btn-danger fs-3 text-light px-4 mx-2", style:"border-radius: 8px;" %>
          <button type="button" class="btn btn-primary fs-3 text-light px-4" style="border-radius: 8px;" disabled data-bs-dismiss="modal" disabled>Booked</button>

        <% elsif @guest %> <!-- if Booking is pending -->
          <div class="d-flex">
            <%= button_to 'Decline', guest_path(@guest), method: :delete, data: {turbo_confirm: 'Are you sure?'}, class:"btn btn-danger fs-3 text-light px-4 mx-2", style:"border-radius: 8px;" %>
            <%= button_to 'Confirm', guest_path(@guest), method: :patch, class:"btn btn-success fs-3 text-light px-4 mx-2", style:"border-radius: 8px;" %>
          </div>

        <% else %>  <!-- if no guest is booked -->
            <%= link_to 'Edit', edit_bite_path(bite), class:"btn btn-info bg fs-3 text-dark px-4 me-1", style:"border-radius: 8px;" %>
            <%= link_to 'Dashboard', dashboard_path, class:"btn btn-warning fs-3 text-dark px-4", style:"border-radius: 8px;" %>
        <% end %>
      <% else %> <!-- if available for booking -->
            <%= button_to 'Book Now', book_bite_path(@bite.id), method: :post, class:"btn btn-primary fs-3 text-light px-4", style:"border-radius: 8px;" %>
      <% end %>
    </div>
  </div>
</div>
</div>
